<section class="section">
  <footer>
    <div class="container">
      <p class="white-color text-center">
        Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        Lars Jönsson
      </p>
    </div>
  </footer>
</section>
