<!DOCTYPE html>
<html lang="sv-SE">
	<%- include ('partials/head') %> 
	<body>
	<%- include ('partials/header') %> 

		<main class="main">
			<div class="container columns info mb-6">
				<section class="column">
					<div class="intro">
						<h3 class="subheading">- Introduktion</h3>
					</div>
					<div class="container hero">
						<h1
							class="has-text-weight-bold white-color is-size-1-fullhd is-size-2-widescreen is-size-3-desktop is-size-4-touch heading"
						>
							Lars J칬nsson
						</h1>
						<h2>
							<strong
								>Frilansande utvecklare med k칛nsla f칬r design och bra
								kod.</strong
							>
							<br />
							<br />
							<strong>
								Jag bor i norra Sverige med mina tre barn och min sambo. Jag
								b칬rjade l칛ra mig webbutveckling 2015, sedan dess har jag alltid
								vetat att det 칛r vad jag ska g칬ra under resten av min karri칛r.
								<br />
								Idag arbetar jag fr칛mst med React, eller Jam-stacken. Mina
								intressen 칛r, flygplan, astronomi och jag lyssnar just nu mycket
								p친 SynthWave musik n칛r jag sitter och programmerar. P친 min
								fritid brukar jag tr칛na i gymmet. Jag har ocks친 t칛vlat i
								b칛nkpress, d칛r jag har tv친 guldmedaljer.
							</strong>
						</h2>
					</div>

					<a href="./kontakt.html">
						<button class="button has-text-weight-bold kontakta">
							L친t mig hj칛lpa dig
						</button>
					</a>
				</section>
				<section class="column">
					<figure class="me-kayak image">
						<img src="./images/me2.jpg" class="me2" alt="Lars J칬nsson" />
					</figure>
				</section>
			</div>
			<section class="section">
				<div class="container">
					<div class="columns">
						<div class="column is-4 white-color">
							<a href="./projekt" title="Mina projekt p친 Github" >
							<div class="border blocks px-4 py-4">
								<h1 class="is-size-3 has-text-weight-bold">Github</h1>
								<h2 class="is-size-5">
									Mina projekt jag jobbat p친 sedan tidigare.
								</h2>
							</div>
						</div>
					</a>
						<div class="column is-4 white-color">
							<a href="./blog" title="Mina artiklar">
							<div class="border blocks px-4 py-4">
								<h1 class="is-size-3 has-text-weight-bold">Artiklar</h1>
								<h2 class="is-size-5">
									Skriver allt fr친n hur det 칛r att plugga p친 distans till
									utvecklare till hur jag tar personb칛sta i roddmaskinen. 游땏
								</h2>
							</div>
						</a>
						</div>
						<div class="column is-4 white-color">
							<a href="./cv/CV - Lars J칬nsson.pdf" download title="Ladda hem mitt CV">
							<div class="border blocks px-4 py-4">
								<h1 class="is-size-3 has-text-weight-bold">Cv</h1>
								<h2 class="is-size-5">Titta p친 mina andra erfarenheter.</h2>
							</div>
						</a>
						</div>
					</div>
				</div>
			</section>
		</main>
		<section class="section">
			<footer>
				<div class="container">
					<p class="white-color text-center">춸 2020 - Lars J칬nsson</p>
				</div>
			</footer>
		</section>
		<script src="./js/index.js"></script>
	</body>
</html>
