<!DOCTYPE html>
<html lang="sv-SE">
	<%- include ('partials/head') %> 
	<body>
	<%- include ('partials/header') %> 

		<main class="main">
			<div class="container columns info mb-6">
				<section class="column">
					<!-- <div class="intro">
						<h3 class="subheading">Introduktion</h3>
					</div> -->
					<div class="container hero">
						<h1
							class="has-text-weight-bold white-color is-size-1-fullhd is-size-2-widescreen is-size-3-desktop is-size-4-touch heading"
						>
							Lars J칬nsson
						</h1>
						<h2>
							<div class="lead-text is-size-5-touch"
								>Frilansande utvecklare med k칛nsla f칬r design och bra
								kod.</div
							>
							<br />
							<br />
							<div class="sub-text">
								<p>Jag bor i norra Sverige med mina tre barn och min sambo. Jag
									b칬rjade l칛ra mig webbutveckling 2015, sedan dess har jag alltid
									vetat att det 칛r vad jag ska g칬ra under resten av min karri칛r.</p>
								<p>
								Idag arbetar jag fr칛mst med React, eller Jam-stacken. Mina
								intressen 칛r, flygplan, astronomi och jag lyssnar just nu mycket
								p친 SynthWave musik n칛r jag sitter och programmerar. P친 min
								fritid brukar jag tr칛na i gymmet. Jag har ocks친 t칛vlat i
								b칛nkpress, d칛r jag har tv친 guldmedaljer.</p>
							</div>
						</h2>
					</div>

					<a href="./kontakt" title="Kontakta mig">
						<button class="button has-text-weight-bold kontakta">
							L친t mig hj칛lpa dig
						</button>
					</a>
				</section>
				<section class="column">
					<figure class="me-kayak image">
						<!-- <img src="./images/me2.webp" class="me2" alt="Lars J칬nsson" /> -->
						<picture>
							<source srcset="./images/Me2.webp" type="image/webp">
							<source srcset="./images/Me2.jpg" type="image/jpeg">
							<img src="./images/Me2.jpg" alt="Lars J칬nsson" title="Jag p친 min kajak">
						</picture>
					</figure>
				</section>
			</div>
			<section class="section">
				<div class="container">
					<div class="columns">
						<div class="column is-4 white-color">
							<a href="./projekt" title="Mina projekt p친 Github" >
							<div class="border blocks px-4 py-4">
								<svg stroke="currentColor" fill="#ffd326" stroke-width="0" version="1.1" viewBox="0 0 16 16" height="2em" width="2em" xmlns="http://www.w3.org/2000/svg"><path d="M0 1v14h16v-14h-16zM15 14h-14v-12h14v12zM14 3h-12v10h12v-10zM7 8h-1v1h-1v1h-1v-1h1v-1h1v-1h-1v-1h-1v-1h1v1h1v1h1v1zM11 10h-3v-1h3v1z"></path></svg>
								<h1 class="is-size-3 has-text-weight-bold mt-3">Github</h1>
								<h2 class="is-size-5">
									Mina projekt jag jobbat p친 sedan tidigare.
								</h2>
							</div>
						</div>
					</a>
						<div class="column is-4 white-color">
							<a href="./blog" title="Mina artiklar">
							<div class="border blocks px-4 py-4">
								<svg stroke="currentColor" fill="#ffd326" stroke-width="0" version="1.1" viewBox="0 0 16 16" height="2em" width="2em" xmlns="http://www.w3.org/2000/svg"><path d="M14 2v13h-10.5c-0.829 0-1.5-0.672-1.5-1.5s0.671-1.5 1.5-1.5h9.5v-12h-10c-1.1 0-2 0.9-2 2v12c0 1.1 0.9 2 2 2h12v-14h-1z"></path><path d="M3.501 13v0c-0 0-0.001 0-0.001 0-0.276 0-0.5 0.224-0.5 0.5s0.224 0.5 0.5 0.5c0 0 0.001-0 0.001-0v0h9.498v-1h-9.498z"></path></svg>
								<h1 class="is-size-3 has-text-weight-bold mt-3">Artiklar</h1>
								<h2 class="is-size-5">
									Skriver allt fr친n hur det 칛r att plugga p친 distans till
									utvecklare till hur jag tar personb칛sta i roddmaskinen. 游땏
								</h2>
							</div>
						</a>
						</div>
						<div class="column is-4 white-color">
							<a href="./cv/CV - Lars J칬nsson.pdf" download="Lars J칬nsson - CV" title="Ladda hem mitt CV">
								<div class="border blocks px-4 py-4">
								<svg stroke="currentColor" fill="#ffd326" stroke-width="0" version="1.1" viewBox="0 0 16 16" height="2em" width="2em" xmlns="http://www.w3.org/2000/svg"><path d="M8 9l4-4h-3v-4h-2v4h-3zM11.636 7.364l-1.121 1.121 4.064 1.515-6.579 2.453-6.579-2.453 4.064-1.515-1.121-1.121-4.364 1.636v4l8 3 8-3v-4z"></path></svg>
								<h1 class="is-size-3 has-text-weight-bold mt-3">Cv</h1>
								<h2 class="is-size-5">Titta p친 mina andra erfarenheter.</h2>
							</div>
						</a>
						</div>
					</div>
				</div>
			</section>
		</main>
		<section class="section">
			<%- include ('partials/footer') %> 
		</section>
		<script src="./js/index.js"></script>
	</body>
</html>
