<!DOCTYPE html>
<html lang="sv-SE">
	<%- include ('partials/head') %> 
	<body>
		<%- include ('partials/header') %> 
		<main>
			<section class="section">
				<div class="container white-color">
					<h1 class="title is-1">Kommer mera</h1>
				</div>
			</section>
		</main>
		<section class="section">
			<%- include ('partials/footer') %> 
		</section>
	</body>
</html>
