<!DOCTYPE html>
<html lang="sv-SE">
	<%- include ('partials/head') %> 
	<body>
		<%- include ('partials/header') %> 
		<main>
			<section class="section">
				<div class="container white-color">
					<h1 class="title is-1 pb-6">Mina projekt</h1>
					<div id="repos"></div>
				</div>
			</section>
		</main>
		<section class="section">
			<%- include ('partials/footer') %> 
		</section>
		<script type="module" src="./js/modules/displayRepos.mjs"></script>
	</body>
</html>
