<!DOCTYPE html>
<html lang="sv-SE">
	<%- include ('partials/head') %> 
	<body>
		<%- include ('partials/header') %> 
		<main>
      <section class="container">
        <div class="container">
          <article>
            <header class="has-text-centered">
              <h1 class="is-1 is-size-3-mobile title white-color">Min resa</h1>
              <div class="intro text">
                <strong>En krokig väg har det varit</strong>
              </div>
            </header>
        </div>
        </article>
      </section>
    </main>
		<section class="section">
			<footer>
				<div class="container">
					<p class="white-color text-center">© 2020 - Lars Jönsson</p>
				</div>
			</footer>
		</section>
	</body>
</html>
