article p img {
  display: block;
  margin: 5rem auto;
}

 h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

 h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}