.post {
  max-width: 700px;
  margin: 5rem auto;
}



.container-content {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.test {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

img[src*="#postimage"]  {
  width: 100%;
  margin: 5rem 0;
}