article {
  max-width: 90rem;
  margin: 5rem auto;
}

article p img {
  display: block;
  margin: 5rem auto;
}

.container-blog {
    max-width: 96rem;
    margin: 0 auto;
    padding: 2rem;
  }
  
.blog-post {
  padding-left: 24rem;
  padding-right: 24rem;
  }


img[src*="#postimage"]  {
  width: 128%;
  max-width: 128%;
  margin-left: -14%;
}